.custom-center {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: .8em 1.2em;
    color: white;
    background-color: darkcyan;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.carousel-control-next-icon .carousel-control-prev-icon {
    width: 50px;
    height: 50px;
}

.title-header {
    font-family: "Roboto Black", sans-serif;
}

.title-header-italic {
    font-family: "Roboto Black", sans-serif;
    font-style: italic;
}

.paragraph {
    font-family: "Roboto Regular", sans-serif;
}

.paragraph-italic {
    font-family: "Roboto Regular", sans-serif;
    font-style: italic;
}

.bg-dark-transparent {
    background: #333d;
}

/*.row {*/
/*    margin: 0 !important;*/
/*}*/

.custom-text-overflow {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 22;
    text-overflow: ellipsis;
    overflow: hidden;
}

.lines-1 {
    -webkit-line-clamp: 2;
}

.lines-2 {
    -webkit-line-clamp: 2;
}

.lines-3 {
    -webkit-line-clamp: 3;
}

.vh-100 {
    height: 100vh;
}

.vh-90 {
    height: 90vh;
}

.vh-80 {
    height: 80vh;
}
